// IMPORTS
// =====================
@import "./colors.scss";
@import "./fonts.scss";
@import "./spinkit.css";
@import "./modals.scss";
@import "./screens.scss";

// GLOBALS
// =====================
body {
  margin: 0;
  padding: 0;
}

input, textarea {
  all: unset;
  display: block;
}

a {
  all: unset;
  display: inline;
}

* {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: 1px solid $system-outline;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  border-radius: 8px;

  &.validation-error {
    border: 1px solid $system-error;
  }
}

textarea {
  box-sizing: border-box;
  border: 1px solid $system-primary;
}

h1, h2, h3, h4, h5, h6, p, hr, pre, a, input, span, textarea, label, strong, th, td, li {
  font-family: 'Inter';
  color: $system-primary;
  margin: 0;
  font-weight: 500;
}

p, li {
  font-weight: 400;
  font-size: 16px;
}

a, button {
  cursor: pointer;
}

hr {
  width: 100%;
}

.flex-spacer {
  flex: 1;
}

// LAYOUTS
// =====================
$header-height: 64px;
$header-menu-height: 40px;

// COMPONENTS
// =====================
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - $header-height);
}

.container-window {
  position: relative;
  box-shadow: 0px 5px 80px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 700px;
  background-color: $white;
  padding: 35px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    margin-left: 24px;
    margin-right: 24px;
  }

  .branding {
    text-align: center;
    margin-bottom: 24px;

    img {
      height: 38px;
      position: relative;

      &.logo {
        top: 3px;
        left: 12px;
      }
    }

  }

  .spinner-container {
    margin-top: 48px;
    min-height: 100%;
  }

  .title {
    font-size: 36px;
    font-weight: 500;
    font-family: "Inter";
    text-align: center;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      font-size: 24px;
    }
  }

  .subtitle {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter";
    color: $text-paragraph;
    text-align: center;
    margin-top: 12px;
  }

  .labeled-input {
    .label {
      font-size: 16px;
      font-weight: 500;
      font-family: "Inter";
      color: $text-heading;
    }
    input[type="text"] {
      margin-top: 8px;
      width: 100%;
      padding: 12px;
      border: 1px solid $system-outline;
      border-radius: 6px;
      color: $text-heading;
    }
  }

  .container-sub-footer {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -32px;
    font-size: 14px;
    font-weight: 400;
    color: $text-tertiary;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      display: none;
    }
  }
}

.action-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  border-radius: 4px;
  transition: background-color 250ms, color 250ms;

  img.action-button-icon {
    position: relative;
    right: 4px;
  }

  p {
    font-weight: 500;
    font-size: 16px;
  }

  &.primary {
    background-color: $system-primary;
    border: 1px solid $system-primary;
    p { color: $white; }
    &:hover {
      background-color: lighten($system-primary, 25%);
      p { color: $white; }
    }
    &.disabled {
      background-color: darken($white, 8%);
      border-color: darken($white, 8%);
      cursor: not-allowed;
      p { color: lighten($text-heading, 50%); }
    }
  }

  &.secondary {
    background-color: darken($white, 8%);
    border: 1px solid darken($white, 8%);
    p { color: $text-secondary; }

    &:hover {
      background-color: darken($white, 4%);
      border-color: darken($white, 4%);
      p { color: lighten($text-secondary, 8%); }
    }
  }

  &.tertiary {
    background-color: $white;
    color: $text-tertiary;
    &:hover {
      p { color: lighten($text-secondary, 25%); }
    }
    &.disabled {
      cursor: not-allowed;
      p { color: lighten($text-secondary, 50%); }
    }
  }

  &.quaternary {
    background-color: $flash-background;
    border: 1px solid $black;

    &:hover {
      border: 1px solid $black;
      background-color: darken($flash-background, 5%);
    }
  }

  &.rounded {
    border-radius: 30px;
  }
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.turnkey-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $system-surface;
  height: $header-height;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
  }

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  &.disabled {
    display: none;
  }

  .branding {
    cursor: pointer;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      margin-left: 12px;
    }

    @media screen and (min-width: 480px) {
      margin-left: 40px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 28px;
      position: relative;

      &.logo {
        top: 3px;
        left: 10px;
      }
    }

  }

  .signing-session-container {
    height: $header-menu-height;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 80%;
    }
  }

  .wallets-container {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      display: none;
    }

    @media screen and (min-width: 480px) {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      background-color: $system-primary;
      margin-right: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 12px;
      padding-right: 12px;
      border-radius: 8px;

      .wallet-label-container {
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-color: $system-surface-container-highest;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 12px;
        font-weight: 500;
        color: $system-on-surface-variant;
      }

      .wallet-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;
        margin-right: 12px;

        .wallet-name {
          color: $reference-neutral;
          font-size: 12px;
          font-weight: 500;
        }

        .wallet-account {
          color: $reference-primary;
          font-size: 12px;
          font-weight: 500;
        }

        .dropdown-icon {
          height: 32px;
        }

      }

    }

  }

  .signing-session-container {
    margin-right: 12px;
    background-color: $system-primary;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;

    img {
      color: $reference-primary;
    }

  }

  .settings-icon {
    @media screen and (min-width: 0px) and (max-width: 480px) {
      cursor: pointer;
      margin-right: 12px;
    }

    @media screen and (min-width: 480px) {
      display: none;
    }
  }
}

.Flash-Message {
  z-index: 4;
  position: absolute;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    top: 0px;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    left: 0px;
    right: 0px;
  }

  @media screen and (min-width: 480px) {
    top: 12px;
    right: 12px;
    min-width: 590px;
  }

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;

  background-color: $flash-background;
  border-radius: 8px;
  height: 96px;
  &.success {
    border: 2px solid $system-success;
    img {
      margin-right: 24px;
      margin-left: -12px;
    }
  }
  &.pending {
    border: 2px solid $system-success;
    .spinner-container {
      margin-right: 24px;
    }
  }
  &.info {
    border: 2px solid $system-success;
  }
  &.error {
    border: 2px solid $system-error;
  }

  .message-text {
    font-size: 16px;
    font-weight: 500;
  }

  .flex-spacer-24 {
    width: 24px;
  }

  .close {
    cursor: pointer;
  }

}

.user-dropdown-container {
  cursor: pointer;
  position: absolute;
  top: $header-height - 4px;
  z-index: 3;
  min-height: 480px;
  max-height: 680px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: $flash-background;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  padding: 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    right: 0px;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
  }

  @media screen and (min-width: 480px) {
    right: 16px;
    width: 420px;
  }

  .user-avatar {
    height: 72px;
    width: 72px;
    align-self: center;
    margin-bottom: 12px;
  }

  .manage-settings {
    margin-top: 12px;
    background-color: $flash-background;
    border: 1px solid $black;

    &:hover {
      border: 1px solid $black;
      background-color: darken($flash-background, 5%);
    }
  }

  hr {
    margin-top: 24px;
    margin-bottom: 12px;
    height: 0.5px;
    border: 0.5px solid $system-outline;
  }

  .wallets-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .change-wallet {
      font-size: 16px;
      font-weight: 600;
    }

    .wallets {
      margin-top: 8px;
      width: 100%;
      .wallet {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:not(:first-child) {
          margin-top: 6px;
        }

        .turnkey-logomark {
          height: 24px;
          margin-right: 8px;
        }

        &.selected {
          background-color: $flash-selected;
        }
      }
    }

  }

  .accounts-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .change-account {
      font-size: 16px;
      font-weight: 600;
    }

    .wallet-accounts {
      margin-top: 8px;
      width: 100%;
      .wallet-account {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:not(:first-child) {
          margin-top: 6px;
        }

        .address {
          font-family: monospace;
        }

        .turnkey-logomark {
          height: 24px;
          margin-right: 8px;
        }

        &.selected {
          background-color: $flash-selected;
        }
      }
    }

  }

  .action-buttons {
    margin-top: 24px;
    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }
}

.selection-option-container {
  border: 1px solid $system-outline;
  border-radius: 8px;
  padding: 24px;
  height: 78px;

  &:not(:first-child) {
    margin-top: 12px;
  }

  &.selected {
    border: 2px solid $system-secondary;
  }

  cursor: pointer;
  display: flex;
  align-items: center;

  p {
    width: 100%;
    text-align: center;
    margin-right: 20px;
    font-weight: 400;
    color: $text-heading;
  }

  .selection-option {
    min-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(118, 119, 122, 1);
    margin-right: 10px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
      background-color: rgba(200, 197, 202, 1);
      border: 1px solid rgba(200, 197, 202, 1);
    }

    .selection-option-interior {
      display: none;
      &.selected {
        display: block;
        position: relative;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $black;
      }
    }

  }

}
