// INTER
// =====================
@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("/fonts/Inter-Thin.woff2") format("woff2"),
       url("/fonts/Inter-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2"),
       url("/fonts/Inter-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("/fonts/Inter-Light.woff2") format("woff2"),
       url("/fonts/Inter-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
       url("/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("/fonts/Inter-Medium.woff2") format("woff2"),
       url("/fonts/Inter-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("/fonts/Inter-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
       url("/fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2"),
       url("/fonts/Inter-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("/fonts/Inter-Black.woff2") format("woff2"),
       url("/fonts/Inter-Black.ttf") format("ttf");
}

// FAVORIT
// =====================
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Favorit-Light.woff") format("woff");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Favorit-Light.otf") format("otf");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/Favorit-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/FavoritPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/FavoritPro-Regular.otf") format("otf");
}
@font-face {
  font-family: "Favorit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/FavoritPro-Regular.ttf") format("ttf");
}
