// SHARED
// =====================
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    width: 700px;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0px 5px 80px 6px rgba(0, 0, 0, 0.16);
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      min-width: calc(100vw - 48px);
      width: calc(100vw - 48px);
      max-width: calc(100vw - 48px);
      margin-left: 24px;
      margin-right: 24px;
    }

    &.hidden {
      display: none;
    }
  }

  .modal-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-title {
      font-size: 36px;
      font-weight: 500;
      font-family: "Inter";
      text-align: center;

      @media screen and (min-width: 0px) and (max-width: 480px) {
        font-size: 24px;
      }
    }

    .modal-subtitle {
      font-size: 16px;
      font-weight: 400;
      font-family: "Inter";
      color: $text-paragraph;
      text-align: center;
      margin-top: 12px;
    }

    .modal-close {
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .modal-body {
    width: 100%;
  }

  input {
    border: 1px solid $system-outline;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    border-radius: 8px;
  }

}

// INDIVIDUAL
// =====================
.Modal.receive {

  .wallet-qr-code {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $system-outline;
    padding: 24px;
  }

  .wallet-account {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $system-outline;
    padding: 16px;

    .wallet-account-text {
      @media screen and (min-width: 0px) and (max-width: 480px) {
        display: none;
      }
      @media screen and (min-width: 480px) {
        color: $text-heading;
        font-family: monospace;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .wallet-account-text-mobile {
      @media screen and (min-width: 0px) and (max-width: 480px) {
        color: $text-heading;
        font-family: monospace;
        font-size: 16px;
        font-weight: 500;
      }
      @media screen and (min-width: 480px) {
        display: none;
      }
    }

    .copy-icon {
      cursor: pointer;
      margin-left: 12px;
      transition: transform 0.1s;
      -webkit-tap-highlight-color: transparent;
      &:active {
        transform: scale(0.9);
      }
    }
  }

  .action-buttons {
    margin-top: 24px;
  }

}

.Modal.send-initial {

  .asset-select-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      font-weight: 500;
    }

    .asset-row {
      margin-top: 12px;
      margin-bottom: 12px;
      display: flex;
      flex-direction: row;

      .asset-icon {
        height: 20px;
        width: 20px;
        margin-right: 12px;
      }

      .asset-name {
        font-size: 16px;
        font-weight: 400;
        color: $text-subheading;
      }
    }
  }

  .amount-input-section {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 6px;
    }

    .sublabel {
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $gray-2;
    }
  }

  .destination-address-section {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 6px;
    }

    .sublabel {
      margin-top: 6px;
      font-size: 12px;
      font-weight: 400;
      color: $gray-2;
      &.validation-error {
        color: $system-error;
      }
    }
  }

  .action-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }

}

.Modal.send-review {

  .amount-to-send {
    margin-top: 12px;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: $blue-1;
  }

  .amount-in-usd {
    text-align: center;
    font-size: 16px;
    font-weight: 16px;
    color: $black-2;
  }

  .from-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .section-label {
    font-size: 16px;
    font-weight: 500;
    color: $text-heading;

    &:not(:first-child) {
      font-size: 14px;
      color: $text-paragraph;
      margin-top: 2px;
    }
  }

  .section-sublabel {
    font-size: 12px;
    font-weight: 400;
    color: $gray-2;

    &.big {
      font-size: 16px;
    }
  }

  .divider {
    height: 1px;
    background-color: $black-3;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  .network-fee-section,
  .total-section {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
  }

  .network-fee-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .action-buttons {
    margin-top: 24px;

    .action-button:not(:last-child) {
      margin-bottom: 12px;
    }
  }

}

.Modal.add-passkey {

  .passkey-name-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }

  .action-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }

}

.Modal.reveal-seed-phrase-disclaimer {

  .underline {
    text-decoration: underline;
  }

  ul {
    margin-top: 36px;
  }

  li {
    color: $text-paragraph;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .action-buttons {
    margin-top: 40px;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }
}

.Modal.wallet-seed-phrase {

  .iframe-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  iframe {
    width: 100%;
  }
}

.Modal.wallet-account-private-key {

  .iframe-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  iframe {
    width: 100%;
  }

  .modal-subtitle {
    font-size: 14px;
    font-family: monospace;
  }

}

.Modal.select-export-type {
  .export-options {
    margin-top: 24px;
  }

  .action-buttons {
    margin-top: 40px;
    width: 100%;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }
}

.Modal.import {

  input {
    border: 1px solid $system-outline;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    border-radius: 8px;
  }

  .import-options {
    margin-top: 24px;
  }

  .action-buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }

  .label.paste-mnemonic {
    margin-top: 24px;
  }

  .wallet-name-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    .label {
      font-size: 16px;
      font-weight: 500;
    }
    input {
      margin-top: 2px;
      margin-bottom: 16px;
    }
  }

  .private-key-name-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    .label {
      font-size: 16px;
      font-weight: 500;
    }
    input {
      margin-top: 2px;
      margin-bottom: 16px;
    }
  }

  .iframe-container {
    margin-top: 12px;
    border: 1px solid $system-outline;
    border-radius: 6px;
    width: 100%;
    padding: 6px;
  }

  iframe {
    width: 100%;
    border: none;
  }

  .iframe-subscript-container {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .info-icon {
      color: $text-subheading;
      margin-right: 8px;
    }

    .iframe-subscript {
      font-size: 12px;
      font-weight: 400;
      color: $text-subheading;
    }

  }

}

// .import-screen {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   input {
//     border: 1px solid $system-outline;
//     font-size: 16px;
//     font-weight: 400;
//     padding: 12px;
//     border-radius: 8px;
//   }

//   .import-container {

//     .import-options {
//       margin-top: 24px;
//     }

//     .action-buttons {
//       margin-top: 24px;
//       display: flex;
//       flex-direction: column;
//       align-items: stretch;

//       .action-button:not(:first-child) {
//         margin-top: 12px;
//       }
//     }

//     .label.paste-mnemonic {
//       margin-top: 24px;
//     }

//     .wallet-name-section {
//       margin-top: 24px;
//       display: flex;
//       flex-direction: column;
//       .label {
//         font-size: 16px;
//         font-weight: 500;
//       }
//       input {
//         margin-top: 2px;
//         margin-bottom: 16px;
//       }
//     }

//     .private-key-name-section {
//       margin-top: 24px;
//       display: flex;
//       flex-direction: column;
//       .label {
//         font-size: 16px;
//         font-weight: 500;
//       }
//       input {
//         margin-top: 2px;
//         margin-bottom: 16px;
//       }
//     }

//   }

//   .iframe-container {
//     margin-top: 12px;
//     border: 1px solid $system-outline;
//     border-radius: 6px;
//     width: 100%;
//     padding: 6px;
//   }

//   iframe {
//     width: 100%;
//     border: none;
//   }

//   .iframe-subscript-container {
//     margin-top: 6px;
//     display: flex;
//     flex-direction: row;
//     align-items: center;

//     .info-icon {
//       color: $text-subheading;
//       margin-right: 8px;
//     }

//     .iframe-subscript {
//       font-size: 12px;
//       font-weight: 400;
//       color: $text-subheading;
//     }

//   }

// }
