// COLORS
// =====================
$black: #000;
$black-2: #2A292D;
$black-3: rgba(27, 28, 31, 0.08);
$white: #FFFFFF;
$system-gray: rgba(216, 219, 227, 0.20);
$gray-2: #78767A;
$gray-3: #535256;
$blue-1: #433DF7;

// FROM MOCKS
// =====================
$reference-neutral: #C5C7CA;
$reference-primary: #929094;
$system-surface: #111214;
$system-surface-container-highest: #EDEEF1;
$system-primary: #2B2F33;
$system-secondary: #433DF7;
$system-gray: #C8C5CA;
$system-outline: #D8DBE3;
$system-inverse-on-surface: #EFF1F4;
$system-on-surface-variant: #414941;
$system-on-background: #1B1C1F;
$text-white-heading: #EFF1F4;
$text-heading: #2A292D;
$text-subheading: #78767A;
$text-secondary: #414941;
$text-tertiary: rgb(85, 91, 100);
$text-paragraph: #535256;
$table-header: #F8FAFD;
$flash-background: rgb(251, 252, 255);
$flash-selected: #f1f2f5;
$system-error: #B81D29;
$system-success: #008a36;
$system-pending: #b8c101;
