// SHARED
// =====================
.screen {
  background-color: $white;
  min-height: 100vh;
  position: relative;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    overflow-x: scroll;
  }
}

// INDIVIDUAL
// =====================
.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dashboard-screen {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    .header-section {
      display: none !important;
    }
  }

  @media screen and (min-width: 480px) {
    padding-left: 120px;
    padding-right: 120px;

    .header-section {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .action-buttons {
      display: flex;
      flex-direction: row;

      .action-button {
        font-size: 14px;
        font-weight: 400;

        .action-button-icon {
          margin-right: 2px;
        }
      }

      .action-button:not(:first-child) {
        margin-left: 12px;
      }
    }

  }

  .wallet-info-section {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .wallets {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .wallet-name {
        font-size: 16px;
        font-weight: 400;
        color: $text-subheading;
      }

      .account-address {
        font-family: monospace;
        font-weight: 400;
        font-size: 16px;
        color: $text-subheading;
        margin-left: 24px;
      }
    }

    .copy-icon {
      height: 16px;
      width: 16px;
      cursor: pointer;
      margin-left: 12px;
      transition: transform 0.1s;
      -webkit-tap-highlight-color: transparent;
      &:active {
        transform: scale(0.9);
      }
    }

    .balances {
      display: flex;
      flex-direction: column;
    }

    .usd-balance {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .usd-balance-text {
        color: $text-heading;
        font-size: 36px;
        font-weight: 500;
      }
      .usd-balance-label {
        margin-left: 8px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .native-balance {
      margin-top: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .native-balance-text {
        color: $gray-2;
        font-size: 18px;
        font-weight: 400;
      }
      .native-balance-label {
        margin-left: 8px;
        color: $gray-2;
        font-size: 14px;
        font-weight: 400;
      }
    }

  }

  .activity-table-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid $system-outline;
    border-radius: 2px;

    .primary-text {
      font-size: 24px;
      font-weight: 500;
    }

    .secondary-text {
      margin-top: 6px;
      font-size: 16px;
      font-weight: 400;

      @media screen and (min-width: 0px) and (max-width: 480px) {
        text-align: center;
      }
    }
  }

  @media screen and (min-width: 0px) and (max-width: 480px) {
    .assets-table, .activity-table {
      display: none !important;
    }

    .my-assets {
      margin-left: 12px;
      font-size: 24px;
      font-weight: 500;
      color: $black-2;
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .activity {
      margin-left: 12px;
      font-size: 24px;
      font-weight: 500;
      color: $black-2;
      margin-top: 24px;
      margin-bottom: 20px;
    }

  }

  @media screen and (min-width: 480px) {
    .assets-table-mobile, .activity-table-mobile {
      display: none !important;
    }

    .my-assets {
      font-size: 24px;
      font-weight: 500;
      color: $black-2;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .activity {
      font-size: 24px;
      font-weight: 500;
      color: $black-2;
      margin-top: 40px;
      margin-bottom: 20px;
    }

  }

  table {
    border: 1px solid $system-outline;
    border-radius: 3px;
    border-collapse: separate;
    border-spacing: 0;

    thead {
      tr {
        height: 44px;
        background-color: $table-header;
        border-bottom: 1px solid $system-inverse-on-surface;

        th {
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          padding-left: 8px;
          font-weight: 500;
        }
      }
    }

    tbody {
      tr {
        height: 68px;
        td {
          padding-left: 8px;
          font-weight: 400;

          &.ethereum-cell, &.transaction-status {
            height: 68px;
            padding-left: 16px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            p {
              margin-left: 12px;
              font-size: 16px;
            }
          }

          &.address-cell {
            font-family: monospace;
            font-size: 15px;
            color: $text-paragraph;
          }

          &.eth-amount, &.usd-price, &.transaction-timestamp, &.transaction-address, &.transaction-value {
            font-size: 16px;
            p {
              font-size: 16px;
            }
          }

          &.ethereum-cell {
            img {
              height: 28px;
              width: 28px;
            }

          }

          &.transaction-status {

            .arrow-wrapper {
              img {
                height: 28px;
                width: 28px;
              }
            }
          }

          .subscript {
            color: $text-subheading;
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $system-inverse-on-surface;
        }
      }
    }
  }

  .assets-table-mobile {
    margin-left: 12px;
    margin-right: 12px;

    .assets-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .address-container {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .asset-name {
          font-size: 16px;
          font-weight: 500;
          color: $text-heading;
        }

        .address {
          font-size: 16px;
          font-weight: 500;
          font-family: monospace;
          color: $text-paragraph;
        }
      }

      .value-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .eth-amount {
          font-size: 16px;
          color: $text-paragraph;
          font-weight: 400;
        }

        .usd-price {
          font-size: 14px;
          color: $text-subheading;
          font-weight: 400;
        }
      }

    }

    .action-buttons {
      margin-top: 24px;
      display: flex;
      flex-direction: column;

      .action-button {
        border-radius: 8px;
        border: 1px solid $system-outline;

        &:not(:first-child) {
          margin-top: 12px;
        }

        .action-button-text {
          color: $system-on-surface-variant
        }
      }

    }

  }

  .activity-table-mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .asset-transfer {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $system-outline;
      &:first-child {
        border-top: 1px solid $system-outline;
      }

      .display-section {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .display-title {
          font-size: 14px;
          font-weight: 500;
          color: $text-heading;
        }

        .display-address {
          font-family: monospace;
          color: $text-paragraph;
          font-size: 12px;
          font-weight: 400;
        }
      }

      .value-section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .eth-value {
          font-size: 16px;
          color: $text-paragraph;
          font-weight: 400;
        }

        .timestamp {
          font-size: 14px;
          color: $text-subheading;
          font-weight: 400;
        }
      }
    }

  }

}

.import-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    border: 1px solid $system-outline;
    font-size: 16px;
    font-weight: 400;
    padding: 12px;
    border-radius: 8px;
  }

  .import-options {
    margin-top: 24px;
  }

  .action-buttons {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .action-button:not(:first-child) {
      margin-top: 12px;
    }
  }

  .label.paste-mnemonic {
    margin-top: 24px;
  }

  .wallet-name-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    .label {
      font-size: 16px;
      font-weight: 500;
    }
    input {
      margin-top: 2px;
      margin-bottom: 16px;
    }
  }

  .private-key-name-section {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    .label {
      font-size: 16px;
      font-weight: 500;
    }
    input {
      margin-top: 2px;
      margin-bottom: 16px;
    }
  }

  .iframe-container {
    margin-top: 12px;
    border: 1px solid $system-outline;
    border-radius: 6px;
    width: 100%;
    padding: 6px;
  }

  iframe {
    width: 100%;
    border: none;
  }

  .iframe-subscript-container {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .info-icon {
      color: $text-subheading;
      margin-right: 8px;
    }

    .iframe-subscript {
      font-size: 12px;
      font-weight: 400;
      color: $text-subheading;
    }

  }

}

.export-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  .export-container {
    box-shadow: 0px 5px 80px 6px rgba(0, 0, 0, 0.16);
    width: 700px;
    background-color: $white;
    padding: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .title-text {
      font-size: 36px;
      font-weight: 500;
      text-align: center;
    }

    .subtitle-text {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      color: $gray-3;

      span {
        font-size: 16px;
        font-weight: 400;
        color: $gray-3;
        text-decoration: underline;
      }
    }

    .action-buttons {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .action-button:not(:first-child) {
        margin-top: 12px;
      }
    }

    #turnkey-export-iframe-container-id {
      margin-top: 24px;
      iframe {
        width: 100%;
      }
    }

    .select-section-container {
      margin-top: 24px;
    }

    .select-section {
      display: flex;
      flex-direction: row;

      .label {
        width: 35%;
        font-size: 16px;
        font-weight: 400;
        color: $gray-3;
      }

      select {
        width: 65%;
      }

      &.wallet-select-section {
        select {
          font-size: 14px;
        }
      }

      &.wallet-account-select-section {
        select {
          font-size: 14px;
        }
      }
    }
  }
}

.landing-screen {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: $white;

  @media screen and (min-width: 0px) and (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
  }

  .split-content-secondary {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/purple-gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      width: 100%;
      height: 400px;
    }

    .features {
      width: 80%;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 0px) and (max-width: 480px) {
        display: none;
      }

      .feature-title {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .feature:not(:first-child) {
        margin-top: 60px;
      }

      .checkbox-circle {
        height: 40px;
        width: 40px;
      }

      .primary-text {
        margin-left: 20px;
        font-size: 24px;
        font-weight: 500;
        color: $white;
      }

      .secondary-text {
        margin-left: 60px;
        margin-top: 12px;
        font-size: 16px;
        font-weight: 400;
        color: $white;

        a {
          color: $white;
          font-size: 16px;
          border-bottom: 1px solid $white;
          font-weight: 500;
        }
      }
    }
  }

  .split-content-primary {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      width: 100%;
      position: fixed;

      .container-window {
        margin-top: 24px;
      }
    }

    .labeled-input.email {
      margin-top: 24px;
    }

    .action-buttons {
      margin-top: 24px;
      .continue-email {
        margin-top: 16px;
      }
      .lost-access {
        margin-top: 24px;
        p {
          color: $text-paragraph;
          font-weight: 400;
        }
      }
    }
  }

}

.add-passkey-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  .passkey-hero {
    margin-top: 24px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $system-on-background;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      flex-direction: column;

      .passkey-image {
        height: 100px;
        align-self: flex-start;
        margin-left: 12px;
        margin-top: 12px;
      }

      .passkey-info {
        margin-bottom: 60px;
        margin-left: 24px;
        margin-right: 24px;
        color: $text-white-heading;
      }

    }

    @media screen and (min-width: 480px) {
      .passkey-image {
        position: relative;
        margin-left: 16px;
        top: 8px;
        height: 200px;
        width: 200px;
      }

      .passkey-info {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 18px;
        margin-right: 40px;
        color: $text-white-heading;
      }
    }

  }

  .action-buttons {
    margin-top: 24px;

    .cancel {
      margin-top: 16px;
    }
  }
}

.create-wallet-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  .wallet-options {
    margin-top: 24px;
  }

  .action-buttons {
    margin-top: 24px;

    .action-button:not(:first-child) {
      margin-top: 24px;
    }
  }
}

.email-verification-screen, .email-auth-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  .message {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    span.email {
      font-size: 24px;
      font-weight: 700;
    }
  }

  .inject-credential {
    input {
      margin-top: 24px;
      width: 100%;
    }
  }

  .action-buttons {
    margin-top: 24px;
  }
}

.settings-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .settings-container {
    margin-top: 24px;
    padding: 24px;
    background-color: lighten($system-inverse-on-surface, 2%);
    border-radius: 8px;

    @media screen and (min-width: 0px) and (max-width: 480px) {
      margin-left: 12px;
      margin-right: 12px;
    }

    @media screen and (min-width: 480px) {
      width: 80%;
    }

    .login-methods {
      font-size: 24px;
    }

    .section-title {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .section-title-text {
      font-size: 24px;
      font-weight: 500;
    }

    .section-subtitle {
      margin-top: 8px;
    }

    .settings-section:not(:first-child) {
      margin-top: 64px;
    }

    .emails {
      .email {
        display: flex;
        flex-direction: row;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid $system-inverse-on-surface;

        @media screen and (min-width: 0px) and (max-width: 480px) {
          .email-icon {
            margin-right: 12px;
          }

          .email-title, .flex-spacer {
            display: none;
          }
        }

        @media screen and (min-width: 480px) {
          .email-icon {
            margin-left: 24px;
            margin-right: 24px;
          }

          .email-value {
            margin-right: 24px;
          }
        }

      }
    }

    .authenticators {

      .authenticator {
        display: flex;
        flex-direction: row;
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid $system-inverse-on-surface;

        @media screen and (min-width: 0px) and (max-width: 480px) {
          .authenticator-name {
            margin-left: 12px;
          }

          .remove-authenticator {
            cursor: pointer;
          }
        }

        @media screen and (min-width: 480px) {
          .authenticator-created-at {
            margin-left: 24px;
            margin-right: 24px;
          }

          .remove-authenticator {
            cursor: pointer;
            margin-right: 24px;
          }
        }

      }
    }
  }
}
